body {
  height: 300vh;
  width: 100vw;
  background-color: #141414;
  margin: 0rem;
  overflow-x: hidden;
  user-select: none;
  font-family: "Urbanist", sans-serif;
  z-index: -5;
}
::-webkit-scrollbar {
  width: 0;
}
.image-f {
  opacity: 0 !important;
}
#image-track,
#image-track-2 {
  display: flex;
  gap: 1vw;
  position: fixed;
  overflow: visible;
  left: 40%;
  bottom: 50%;
  transform: translateY(50%);
  user-select: none;
}

#image-track > .image,
#image-track-2 > .image {
  width: 35vmin;
  height: 55vmin;
  object-fit: cover;
  object-position: 100% center;
}
/* #image-track > .image:hover{
scale: 1.05;
transition: 1000ms forwards;
} */
#image-track {
  z-index: 5;
}
#image-track-2 {
  z-index: 4;
}
#image-track-2 > .image {
  opacity: 0;
}
#plus {
  position: fixed;
  top: 50%;
  font-family: "Courier New", Courier, monospace;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 2vw;
  font-weight: 100;
  z-index: 9;
  opacity: 0;
}
#nav-name {
  color: whitesmoke;
  text-transform: uppercase;
  /* width: 60%; */
  /* font-family: "Urbanist", sans-serif; */
}
#nav-pages {
  display: flex;
  gap: 4vw;
  /* width: 40%; */
}
#navbar {
  font-size: 1.5vw;
  font-weight: 400;
  position: fixed;
  top: 3vh;
  opacity: 0;
  width: 90vw;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  z-index: 100;
}
#work,
#about {
  transition: 400ms;
}

#counter {
  color: whitesmoke;
  font-size: 1vw; /* transfer into vw */
  font-weight: 400;
  opacity: 0;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  z-index: 100;
  gap: 1vw;
  overflow-y: hidden;
  height: 1vw; /* transfer into vw */
  /* border-style: dotted; */
  padding-top: 0px;
  margin-top: 0px;
}
#counter > p {
  margin: 0;
  line-height: 1vw;
}
#count {
  display: flex;
  flex-direction: column;
}
#image-track {
  will-change: transform;
}
#image-track-small {
  display: flex;
  gap: 0.2vw;
  position: fixed;
  bottom: 5vh;
  width: 27vw;
  left: 68vw;
  z-index: 99;
}
#image-track-small > img {
  width: 3.2vw;
  height: 1.8vw;
  object-fit: cover;
  opacity: 0;
}
#pic-frame {
  position: fixed;
  bottom: calc(5vh - 0.1vw);
  left: calc(68vw - 0.1vw);
  height: 1.8vw;
  width: 3.2vw;
  z-index: 5;
  opacity: 0;
  background: transparent;
  border-color: whitesmoke;
  border-width: 0.1vw;
  border-style: solid;
}
#tracker {
  position: fixed;
  background: white;
  /* height: 20vmax; */
  height: 3vmin;
  aspect-ratio: 1;
  border-radius: 100%;
  /* z-index: -101; */
  z-index: 999;
  left: 50%;
  top: -20vmax;
  display: flex;
  justify-content: center;
  opacity: 1;
  pointer-events: none;
  transition: 5000ms ease;
}

#tracker-icon {
  font-size: 1vmin;
  line-height: 3vmin;
  opacity: 0;
  transition: opacity 400ms ease;
}
.icon {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  backdrop-filter: blur(0vmax);
}
@keyframes rotate-blob {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.15;
  }

  to {
    rotate: 360deg;
  }
}
#photographer,
#photographer-2 {
  width: 44.5vmin;
  height: 70vmin;
  opacity: 1;
  object-fit: cover;
  border-radius: 4vmin;
  object-position: "center center";
  transition: 500ms;
}
#about-1,
#about-2 {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro {
  font-size: 6vmin;
  font-weight: 600;
  height: 100vh;
  width: 66%;
  flex-direction: column;
  display: flex;
  line-height: 1.2;
  align-items: flex-start;
  justify-content: center;
  padding: 7vmin;
}
:root {
  --purple: aquamarine;
  --violet: aqua;
  --pink: mediumpurple;
}
#intro > p > .color-text,
#intro-2 > h2 > .color-text {
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  position: relative;
  display: inline-block;
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  position: absolute;
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}
.magic-star > svg > path {
  fill: var(--violet);
}
.magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

#intro > p,
#intro-2 > p,
#intro-2 > h2 {
  color: whitesmoke;
}
#intro-2 > h2 {
  font-size: 6vmin;
}
#intro-2 > p {
  font-size: 3vmin;
  line-height: 1.35;
}
#intro-2 {
  font-weight: 600;
  height: 100vh;
  padding: 7vmin;
  width: 66%;
  flex-direction: column;
  display: flex;
  line-height: 1.2;
  align-items: flex-start;
  justify-content: center;
}
#about-me {
  opacity: 0;
}
#about-pic,
#about-pic-2 {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  z-index: 3;
  width: 34%;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
@keyframes background-pan-blob {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: -200% -200%;
  }
}
#about-3 {
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 10vh;
  color: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gitp {
  font-size: 5.4vmin;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  margin: 0;
}
#gitp > span {
  display: inline;
}
#gitc {
  background: linear-gradient(
    to right,
    rgba(127, 255, 212, 0.877),
    rgba(0, 255, 255, 0.815),
    rgba(127, 255, 212, 0.877)
  );
  z-index: 40;
  position: relative;
  background-size: 200%;
  animation: background-pan-blob 3s linear infinite;
  height: 15vmin;
  width: 15vmin;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gitc > span {
  text-transform: uppercase;
  font-size: 2vmin !important;
  font-weight: lighter;
  font-size: medium;
}

#gita {
  display: flex;
  position: absolute;
  /* border: white;
  border-style: dashed; */
  justify-content: space-evenly;
  height: auto;
  width: 50vw;
  top: 290vh;
}
a {
  background: linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0)
    3px no-repeat;
    
  transition: 0.3s, background-position 0s 0.3s;
}
a:hover {
  --d: 100%;
  --p: 100%;
}

#gita > a {
  color: whitesmoke;
  font-weight: lighter;
  text-decoration: none;
  font-size: 3vmin;
}
.loading-screen {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  display: inline-block;
}
