/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    height: 400vh;
    width: 100vw;
    background-color: #141414;
    margin: 0rem;
    overflow-x: hidden;
  }

  #image-track {
    display: flex;
    gap: 4vmin;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; 
  }
  
  #image-track > .image {
    width: 35vmin;
    height: 51vmin;
    object-fit: cover;
    object-position: 100% center;
    image-resolution: 100dpi;
  }
  